<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ionicons/css/ionicons.min.css">
    <!--Gallery css -->
    <link rel="stylesheet" type="text/css" href="js/gallery/css/gallerystyle.css">

    <title>Home | Redeemer's Men Fellowship LP19</title>
</head>

<body>
    <header id="nav">
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <a href="index.html">
                        <img src="images/rmf-transparent8.png" alt="RMF Logo" width="160">
                    </a>
                </div>

                <!-- Hamburger menu icon -->
                <div class="menu-icons open">
                    <!-- <i class="icon ion-md-menu"></i> -->
                    <i class="ion-android-menu"></i>
                </div>

                <ul class="nav-list">
                    <!-- Another Hamburger menu icon -"x" -to close the navigation -->
                    <div class="menu-icons close">
                        <!-- <i class="icon ion-md-close"></i> -->
                        <i class="ion-android-close"></i>
                    </div>

                    <li class="nav-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="registration.html" class="nav-register">REGISTER</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="flyer">
            <img src="images/flyer2.jpeg" style="width: 100%; height: auto;"
                alt="rmf-lp19-convention-flyer">
            <div class="registration-button">
                <a href="registration.html" class="btn btn-pink">
                    <div class="overlay1 btn-overlay-pink"></div>
                    <span>REGISTER FOR CONVENTION</span>
                    <div class="overlay2 btn-overlay-pink"></div>
                </a>
            </div>
        </div>

        <section class="about">
            <div class="container">
                <div class="title-heading">
                    <h1>About Us</h1>
                </div>
                <div class="about-grid">
                    <div class="about-grid-item mission">
                        <div class="about-grid-icon">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <div class="about-grid-title">
                            <h3>Mission</h3>
                        </div>
                        <div class="about-grid-content">
                            <p>Redeemer's Men Fellowship is a Christ Oriented Ministry for men, by men who through the
                                gospel of Jesus Christ emphasize
                                the biblical importance of family, encourage personal growth, and reach out through
                                love, prayer and fellowship.</p>
                        </div>
                    </div>
                    <div class="about-grid-item scope">
                        <div class="about-grid-icon">
                            <i class="fa fa-crosshairs"></i>
                        </div>
                        <div class="about-grid-title">
                            <h3>Scope</h3>
                        </div>
                        <div class="about-grid-content">
                            <p>From the mission statement, it is obvious that "the men" in church are the focus. He
                                functions in different capacities in
                                life.
                            </p>
                            <ol>
                                <li>Man as a father</li>
                                <li>The man as a husband</li>
                                <li>The man as the breadwinner</li>
                                <li>The man as spiritual head of his family</li>
                                <li>The man and his spiritual walk</li>
                                <li>The man and his finances</li>
                                <li>The man and his health</li>
                            </ol>
                        </div>
                    </div>
                    <div class="about-grid-item structure">
                        <div class="about-grid-icon">
                            <i class="fa fa-building-o"></i>
                        </div>
                        <div class="about-grid-title">
                            <h3>Structure</h3>
                        </div>
                        <div class="about-grid-content">
                            <p>The following structure is expected to be employed to administer the activities of the
                                Fellowship at all levels;
                                Provincial, Zonal, Area and Parish.
                            </p>
                            <ul>
                                <li>President</li>
                                <li>Vice President</li>
                                <li>Secretary</li>
                                <li>Assistant Secretary</li>
                                <li>Treasurer</li>
                                <li>Financial Secretary</li>
                                <li>Public Relations Officer</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="media">
            <div class="container">
                <div class="media-container">
                    <div class="video">
                        <video src="video/convention-video.mp4" controls></video>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery">
            <div class="container">
                <div class="title-heading">
                    <h1>Gallery</h1>
                    <p>We love to tell our stories in pictures, below are photos from our past programmes, projects and
                        some memorable events.
                        Enjoy!</p>

                    <!-- Gallery -->
                    <div class="gallery-wrapper">
                        <div id="jssor_1"
                            style="position:relative;margin:0 auto;top:0px;left:0px;width:800px;height:600px;overflow:hidden;visibility:hidden;background-color:#24262e;">

                            <!-- Loading Screen -->
                            <div data-u="loading"
                                style="position:absolute;top:0px;left:0px;background:url('js/gallery/img/loading.gif') no-repeat 50% 50%;background-color:rgba(0, 0, 0, 0.7);">
                            </div>
                            <div data-u="slides"
                                style="cursor:default;position:absolute;top:100px;left:0px;width:800px;height:500px;overflow:hidden;">
                                <div>
                                    <img data-u="image" src="js/gallery/img/01.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/01-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/02.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/02-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/03.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/03-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/04.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/04-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/05.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/05-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/06.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/06-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/07.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/07-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/08.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/08-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/09.jpg"/>
                                    <img data-u="thumb" src="js/gallery/img/09-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/10.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/10-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/11.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/11-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/12.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/12-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/13.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/13-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/14.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/14-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/15.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/15-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/16.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/16-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/17.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/17-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/18.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/18-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/19.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/19-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/20.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/20-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/21.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/21-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/22.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/22-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/23.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/23-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/24.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/24-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/25.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/25-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/26.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/26-s72x72.jpg" />
                                </div>
                                <div>
                                    <img data-u="image" src="js/gallery/img/27.jpg" />
                                    <img data-u="thumb" src="js/gallery/img/27-s72x72.jpg" />
                                </div>
                                
                                <a data-u="any" href="https://www.jssor.com" style="display:none">javascript slider</a>
                            </div>
                            <!-- Thumbnail Navigator -->
                            <div data-u="thumbnavigator" class="jssort01"
                                style="position:relative;left:0px;bottom:0px;width:800px;height:100px;"
                                data-autocenter="1">
                                <!-- Thumbnail Item Skin Begin -->
                                <div data-u="slides" style="cursor: default;">
                                    <div data-u="prototype" class="p">
                                        <div class="w">
                                            <div data-u="thumbnailtemplate" class="t"></div>
                                        </div>
                                        <div class="c"></div>
                                    </div>
                                </div>
                                <!-- Thumbnail Item Skin End -->
                            </div>
                            <!-- Arrow Navigator -->
                            <span data-u="arrowleft" class="jssora05l"
                                style="top:158px;left:8px;width:40px;height:40px;"></span>
                            <span data-u="arrowright" class="jssora05r"
                                style="top:158px;right:8px;width:40px;height:40px;"></span>
                        </div>
                        <!-- #endregion Jssor Slider End -->
                    </div>
                </div>
            </div>
        </section>

        <section class="media" id="media2">
            <div class="container">
                <div class="media-container">
                    <div class="video">
                        <video src="video/convention-video.mp4" controls></video>
                    </div>
                </div>
            </div>
        </section>

        <section class="national-executives">
            <div class="container">
                <div class="title-heading">
                    <h1>Lagos Province 19 Executives</h1>
                </div>
                <div class="national-executives-grid">
                    <!-- grid item #1 -->
                    <div class="national-executives-grid-item">
                        <div class="profile-image">
                            <img src="images/national-executives/img1.png"
                                alt="brother-thomas-oloriegbe-profile-image">
                        </div>
                        <div class="profile-text">
                            <h4 class="name">Pastor Thomas Oloriegbe</h4>
                            <h4 class="title">President Redeemers Men's Fellowship (RMF) RCCG LP19 and Financial
                                Secretary RMF Region 11</h4>
                            <p class="description">thomasoloriegbe@yahoo.com</p>
                        </div>
                    </div>

                    <!-- grid item #2 -->
                    <div class="national-executives-grid-item">
                        <div class="profile-image">
                            <img src="images/national-executives/img2.png"
                                alt="lawyer-hakeem-bello-profile-photo">
                        </div>
                        <div class="profile-text">
                            <h4 class="name">Dcn. Akeem Olajide Bello</h4>
                            <h4 class="title">Assistant Provincial Coordinator Sunday School LP 19 and also the Vice
                                President, RMF LP 19</h4>
                            <p class="description">catherinebello97@yahoo.com</p>
                        </div>
                    </div>

                    <!-- grid item #3 -->
                    <div class="national-executives-grid-item">
                        <div class="profile-image">
                            <img src="images/national-executives/bro-nnaike-zealot.png"
                                alt="brother-zealotus-nnaike-profile-photo">
                        </div>
                        <div class="profile-text">
                            <h4 class="name">Brother Zealotus Nnaike</h4>
                            <h4 class="title">Head of Welfare, a marriage counsellor and the General Secretary of RMF
                                RCCG LP19</h4>
                            <p class="description">znnaike@yahoo.com</p>
                        </div>
                    </div>

                    <!-- grid item #4 -->
                    <div class="national-executives-grid-item">
                        <div class="profile-image">
                            <img src="images/national-executives/barr-jimmy-bada.png"
                                alt="barrister-oluwole-jimi-bada-profile-photo">
                        </div>
                        <div class="profile-text">
                            <h4 class="name">Barrister Oluwole Jimi Bada</h4>
                            <h4 class="title">Assistant General Secretary</h4>
                            <p class="description">wolebada63@gmail.com</p>
                        </div>
                    </div>

                    <!-- grid item #5 -->
                    <div class="national-executives-grid-item">
                        <div class="profile-image">
                            <img src="images/national-executives/img4.png"
                                alt="deacon-wale-adeyemo-profile-photo">
                        </div>
                        <div class="profile-text">
                            <h4 class="name">Dcn Adeyemo Olawale</h4>
                            <h4 class="title">Provincial Coordinator and the Zonal Coordinator (ushering)</h4>
                            <p class="description">tekobo.jojo@yahoo.com</p>
                        </div>
                    </div>

                    <!-- grid item #6 -->
                    <div class="national-executives-grid-item">
                        <div class="profile-image">
                            <img src="images/national-executives/img3.png"
                                alt="brother-christopher-agboide-profile-photo">
                        </div>
                        <div class="profile-text">
                            <h4 class="name">Brother Christopher Agboide</h4>
                            <h4 class="title">Financial Secretary of the Redeemers Men's Fellowship (RMF) RCCG LP 19 and
                                the immediate past president of RMF Men's fellowship, StrongTower Sanctuary (HQ)</h4>
                            <p class="description">agboidechristopher@yahoo.com</p>
                        </div>
                    </div>

                    <!-- grid item #7 -->
                    <div class="national-executives-grid-item">
                        <div class="profile-image">
                            <img src="images/national-executives/mr-kalu-itea.png"
                                alt="brother-kalu-itea-profile-photo">
                        </div>
                        <div class="profile-text">
                            <h4 class="name">Brother Kalu Etea</h4>
                            <!-- <h4 class="title">Financial Secretary</h4> -->
                            <p class="description">kalu_etea@yahoo.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="contact-us" class="contact-us">
            <div class="container">
                <div class="title-heading">
                    <h1>Contact Us</h1>
                </div>
                <div class="contact-us-container">
                    <div class="contact-text">
                        <div class="description">
                            <p>Representatives of the Redeemer's Men Fellowship can be reached at the parish, area,
                                zone, province and regional level</p>
                        </div>
                        <div class="address">
                            <h3>Address</h3>
                            <p>Strong Tower Sanctuary LP 19 HQ</p>
                            <p>39/41, Ogudu Road, Ojota, Lagos.</p>
                        </div>
                        <div class="phone-email">
                            <h3>Phone/Email</h3>
                            <p><i class="fa fa-phone"></i> 08181920335, 08033068761</p>
                            <p><i class="ion-email"></i> info@rccgrmflp19.org</p>
                        </div>
                        <div class="social-icons">
                            <span><a href="https://web.facebook.com/rccglp19strongtower/" target="_blank"><i
                                        class="fa fa-facebook"></i></a></span>
                            <span><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></span>
                            <span><a href="https://www.instagram.com/rccgstrongtowerlp19/?hl=en" target="_blank"><i
                                        class="fa fa-instagram"></i></a></span>
                            <span><a href="https://www.youtube.com/c/RCCGStrongTowerLP19/featured" target="_blank"><i
                                        class="fa fa-youtube"></i></a></span>
                        </div>
                    </div>
                    <div class="contact-form">
                        <div class="header-raised">
                            <h4>Contact Us</h4>
                        </div>
                        <div class="content">
                            <form action="{{ route('contacts.store') }}" method="POST">
                                <div class="field-container">
                                    <input type="text" placeholder="Your Full Name" name="fullname" required>
                                </div>
                                <div class="field-container">
                                    <input type="email" placeholder="Your Email" name="email" required>
                                </div>
                                <div class="field-container">
                                    <input type="text" placeholder="Subject" name="subject" required>
                                </div>
                                <div class="field-container">
                                    <textarea placeholder="Your Message" name="message" required></textarea>
                                </div>
                                <div class="field-container button">
                                    <button type="submit" class="btn btn-pink">
                                        <div class="overlay1 btn-overlay-pink"></div>
                                        <span><i class="fa fa-paper-plane"></i> SEND MESSAGE</span>
                                        <div class="overlay2 btn-overlay-pink"></div>
                                    </button>
                                </div>
                                <div class="field-container">
                                    <!-- @if (session('success'))
                                    <div class="alert alert-success">
                                        <h4><i class="icon fa fa-check"></i> Message sent successfully.</h4>
                                    </div>
                                    @endif -->

                                    <!-- @if (count($errors) > 0)
                                    <div class="alert alert-danger">
                                        @foreach ($errors->all() as $error)
                                        <p>{{ $error }}</p>
                                        @endforeach
                                    </div>
                                    @endif -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="footer-item facebook-feed">
                    <div class="footer-heading">
                        <h5>About Us</h5>
                    </div>
                    <div class="footer-content">
                        <p>Redeemer's Men Fellowship is a Christ Oriented Ministry for men, by men who through the
                            gospel of Jesus Christ emphasize
                            the biblical importance of family, encourage personal growth, and reach out through love,
                            prayer and fellowship.</p>
                    </div>
                </div>
                <div class="footer-item facebook-feed">
                    <div class="footer-heading">
                        <h5>Events</h5>
                    </div>
                    <div class="footer-content">
                        <h4>Redeemers Men's Fellowship Convention 2023</h4>
                        <p>Theme : In His Steps</p>
                        <p><i class="fa fa-calendar"></i> &nbsp; Saturday 18th of November, 2023</p>
                        <p><i class="fa fa-clock-o"></i> &nbsp; 10am - 2pm Nigerian Time</p>
                        <p><i class="fa fa-map-marker"></i> &nbsp; Strong Tower Sanctuary LP 19 HQ. 39/41, Ogudu Road,
                            By Victoria B/Stop, Ojota-Lagos</p>
                    </div>
                </div>
                <div class="footer-item facebook-feed">
                    <div class="footer-heading">
                        <h5>Address</h5>
                    </div>
                    <div class="footer-content">
                        <p>Strong Tower Sanctuary LP 19 HQ</p>
                        <p>39/41, Ogudu Road, Ojota, Lagos.</p>
                        <p><i class="fa fa-phone"></i> 08181920335, 08033068761</p>
                        <p><i class="ion-email"></i> info@rccgrmflp19.org</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="bottom-footer">
                <p>&copy; <script>document.write(new Date().getFullYear());</script> Redeemers Men Fellowship LP19</p>
            </div>
        </div>
    </footer>

    <script src="{{asset('js/scripts.js')}}"></script>

    <!-- Gallery -->
    <script type="text/javascript" src="js/gallery/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/gallery/js/jssor.slider-24.1.5.min.js"></script>
    <script type="text/javascript" src="js/gallery/js/gallery.js"></script>

</body>

</html>